/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 16, 2017, 9:28:47 PM
    Author     : Winson Mac
*/

.ks-navbar {
    background-color: #FDA30E;
    height: 60px;
}

.navbar.ks-navbar {
    background-color: #FDA30E;
}

.ks-navbar.nav-link.dropdown-toggle {
    background-color: #FDA30E;
}

.ks-navbar .nav-item.ks-active, .ks-navbar .nav-item.show, .ks-navbar .nav-item:hover {
    background-color: #e08b00;
}

.ks-navbar.nav-link.dropdown-toggle:hover {
    background-color: #e08b00;
}

.nav-item.dropdown.ks-user.show {
    background-color: #e08b00;
    border-color: #fff;
}

.ks-navbar .nav-item {
    border-color: #fff;
}

.ks-navbar .nav-link:hover {
    background-color: #e08b00;
}

.nav-link .dropdown-toggle {
    border-color: #fff;
}
.ks-navbar>.ks-wrapper>.nav>.ks-navbar-actions>.ks-user {
    border-color: #fff;
}

.ks-navbar .ks-dropdown-grid-images.show>.dropdown-menu .ks-scroll-wrapper>.ks-grid-item:hover {
    background-color: #fff;
}

.nav.nav-pills.nav-stacked>.nav-item>.nav-link:hover {
    background-color: #FDA30E;
    color: #fff;
}

body.ks-sidebar-sections
.ks-page-container
.ks-sidebar .ks-wrapper section>
.nav .nav-item .dropdown-item:hover:before,
body.ks-sidebar-sections .ks-page-container .ks-sidebar 
.ks-wrapper section>.nav .nav-item .nav-link:hover:before, body.ks-sidebar-sections
>.ks-container .ks-sidebar .ks-wrapper section>.nav .nav-item .dropdown-item:hover:before,
body.ks-sidebar-sections>.ks-container .ks-sidebar .ks-wrapper section>.nav .nav-item .nav-link:hover:before {
    background-color: #e08b00;
}

@media only screen and (max-width: 1610px) {
    .ks-navbar>.ks-wrapper>.nav>.ks-navbar-actions>.ks-user .ks-info {
        display: block;
    }
}

.jspPane {
    position: absolute;
    width: 100% !important;
    background-color: #FFE0B2;
}

.nav.nav-pills.nav-stacked>.nav-item.dropdown.open>.nav-link.dropdown-toggle {
    background-color: #FDA30E;
}
.ks-sidebar>.ks-wrapper .nav .nav-item.open>.dropdown-menu:before {
    background-color: #e08b00;
}

ks-sidebar>.ks-wrapper .nav .nav-item.open>.dropdown-menu .dropdown-item {
    background-color: #fff;
}

.ks-sidebar>.ks-wrapper .nav .nav-item.open>.dropdown-menu>.dropdown-item:before {
    background-color: #fff;
}

.ks-sidebar>.ks-wrapper .nav .nav-item.open>.dropdown-menu>.dropdown-item:hover:before {
    background-color: #e08b00;
}

body.ks-sidebar-sections .ks-page-container .ks-sidebar .ks-wrapper section>.nav .nav-item .dropdown-menu .dropdown-item, body.ks-sidebar-sections>.ks-container .ks-sidebar .ks-wrapper section>.nav .nav-item .dropdown-menu .dropdown-item {
    background-color: #FFF;
}
