/*BEGIN HEADER STYLES*/
.navbar.ks-navbar {
    background-color: #FDA30E;
}
.ks-navbar-logo .v2q-logo span {
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: 36px;
}
.ks-navbar-menu .nav-item, .ks-navbar-actions .nav-item{
    border-color: #fff;
}
.ks-navbar>.ks-wrapper>.nav>.ks-navbar-actions>.ks-user {
    border-right: 1px solid #fff;
}
.ks-navbar .nav-item.show .dropdown-menu .dropdown-item>.ks-icon {
    color: #FDA30E;
}
/*END HEADER STYLES*/

/*BEGIN HEADER NAV MENU, ACTION STYLES*/
.ks-navbar .v2q-link:hover {
    background-color: #e08b00;
}
.ks-navbar .nav-item.show {
    background-color: #e08b00;
}
.ks-scroll-wrapper {
    background-color: #FFECB3;
}
.ks-navbar .ks-dropdown-grid-images.show>.dropdown-menu .ks-scroll-wrapper>.ks-grid-item:hover {
    background-color: #fff8e1;
}
.ks-navbar .nav-item.show .dropdown-menu .dropdown-item .v2q-icon {
    color: #FDA30E;
}

.ks-navbar-actions {
    position: absolute;
    right: 0;
}

.ks-navbar .nav-item {
    border-color: #fff;
}

.ks-navbar .nav-item:hover {
    background-color: #e08b00;
}

@media only screen and (max-width: 1225px) {
    .ks-navbar>.ks-wrapper>.nav>.ks-navbar-actions>.ks-user {
        width: 230px;
        background-color: #FDA30E;
    }
    a.nav-link.v2q-link.dropdown-toggle {
        background-color: #FDA30E;
    }      

    a.nav-link.v2q-link.dropdown-toggle:active {
        background-color: #e08b00;
    }  
}

@media only screen and (max-width: 1610px) {
    .ks-navbar>.ks-wrapper>.nav>.ks-navbar-actions>.ks-user .ks-info {
        display: block;
    }
}
/*END HEADER NAV MENU, ACTION STYLES*/

/*BEGIN SIDEBAR STYLES*/
.jspContainer {
    background-color: #FFECB3;
}
.nav.nav-pills.nav-stacked .nav-item .nav-link:hover {
    background-color: #FDA30E;
}
.nav.nav-pills.nav-stacked .nav-item.open>.nav-link {
    background-color: #FDA30E;
}
body.ks-sidebar-sections .ks-page-container .ks-sidebar .ks-wrapper section>.nav .nav-item .dropdown-menu .dropdown-item{
    background-color: #fff8e1;
}
body.ks-sidebar-sections .ks-page-container .ks-sidebar .ks-wrapper section>.nav .nav-item .dropdown-menu .dropdown-item:hover{
    color: #000;
    background-color: #ffe0b2;
}
body.ks-sidebar-sections .ks-page-container .ks-sidebar .ks-wrapper section>.nav .nav-item .dropdown-menu>.nav-item>.nav-link {
    background-color: #fff8e1;
}
body.ks-sidebar-sections .ks-page-container .ks-sidebar .ks-wrapper section>.nav .nav-item .dropdown-menu>.nav-item>.nav-link:hover {
    color: #000;
    background-color: #ffe0b2;
}
body.ks-sidebar-sections .ks-page-container .ks-sidebar .ks-wrapper section>.nav .nav-item .dropdown-menu>.nav-item.open>.nav-link {
    color: #000;
    background-color: #ffe0b2;
}
.jspPane {
    position: absolute;
    width: 100%;
    height: 100%;
}
.ks-sidebar-extras-block {
    position: absolute;
    bottom: 0;
}
/*END SIDEBAR STYLES*/

label.error, span.serverError {
    background: url(../images/unchecked.gif) no-repeat;
    background-position: left;
    padding-left: 20px;
    margin-left: 1em;
    color: red;
    font-style: italic;
    position: absolute;
    bottom: -23px;
}
/*MUA GOI TIN STYLES*/
.ks-dashboard-tabbed-sidebar-widgets .row {
    height: 485px;
}    
.v2q-wrapper {
    margin-bottom: 20px;
    position: relative;
    height: 100%;
}
.v2q-box {
    height: 100%;
}
.v2q-box-title {
    font-weight: 500;
    font-size: 20px;
    margin-top: 15px;
}
.v2q-amount {
    font-size: 36px;
    font-weight: 500;
    color: #FDA30E;
    margin-top: 40px;
}
.v2q-box-button {
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
}
.v2q-btn {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    font-size: 26px;
}
.v2q-btn span {
    font-size: 1em;
}
.ks-price-ratio-progress {
    margin-top: 15px;
}
.v2q-quantity>span {
    font-size: 20px;
}
/*MUA GOI TIN STYLES*/
/*TRANG XAC NHAN MUA GOI TIN STYLES*/
.v2q-status {
    font-size: 18px;
    font-style: italic;
    font-weight: 900;
}
/*TRANG XAC NHAN MUA GOI TIN STYLES*/
/*TRANG DANG TIN STYLES*/
.v2q-user-panel {
    margin-top: 20px;
    margin-bottom: 20px;
}
.v2q-statistics-panel {  
    margin-left: 10px;
    margin-bottom: 20px;
}
.ks-profile>.ks-header>.ks-statistics .ks-item {
    margin-right: 0px;
    margin-top: 20px;
}
.v2q-user-panel img {
    margin-top: 20px;
}
.v2q-user-panel .ks-info .ks-name span {
    font-size: 22px;
}
.v2q-save:hover {
    background-color: #FFECB3;
    color: #FDA30E;
}
.v2q-save:active {
    background-color: #FDA30E;
    color: #FFF;
}
.v2q-item .v2q-amount span{
    font-size: 1.5em;
    color: #FDA30E;
}
.v2q-item .v2q-text span {
    font-size: 1.2em;
}
.v2q-input-wrapper {
    position: relative;
}
.v2q-input {
    position: absolute;
    left: 0;
    top: -8px;
    padding-left: 50px;
    font-size: .98em;
}
.v2q-input-wrapper .icon-addon {
    position: absolute;
    left: 5px;
    top: -4px;
    z-index: 1;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    text-align: center;        
}
.form-control:hover {
    border-color: #FFC237;
}
.form-control:focus {
    border-color: #FDA30E;
}
.form-control:focus:hover{
    border-color: #FDA30E;
    box-shadow: none;
}
.v2q-input-wrapper .icon-addon span {
    font-size: 20px;
    line-height: 30px;
    color: #FDA30E;
} 
.v2q-img-container {
    position: relative;
    margin-right: 15px;
}
.v2q-btn-upload {
    position: absolute;
    bottom: 0px;
    height: 100%;
    cursor: pointer;
    width: 100%;
    background-color: transparent;        
}
.v2q-btn-upload>span {
    color: #6e6e6e;
}
.v2q-btn-upload:hover {
    background-color: #eeeeee;
    opacity: 0.2;
}
.v2q-img-remove {
    position: absolute;
    background-color: #FFECB3;
    border-radius: 15px;
    height: 30px;
    width: 30px;
    text-align: center;
    top: 2px;
    right: 2px;    
    font-size: 1.6em;
    cursor: pointer;
}
.v2q-img-remove>span {
    color: #8E8E8E;
}
.v2q-img-remove>span:hover{
    color: #eb8f00;
}
/*TRANG DANG TIN STYLES*/
/*TRANG DANH SACH SAN PHAM STYLES*/
.v2q-card {
    width: 100%;
    min-height: 385px;
    max-height: 385px;
}
.v2q-card-add {
    position: relative;
    background-color: #e9eef1;
}
.v2q-card-add .v2q-image {
    position: absolute;
    text-align: center;
}
.v2q-card-add > a{
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: none;
}
.v2q-card-add > a:hover{
    background-color: #e8e8e8;
    opacity: .5;
    border: 3px #ef8e05 solid;
    border-color: #ef8e05;
}
.v2q-card-add > span {
    font-size: 16px; 
    color: #8e8e8e;       
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 70px;
}
.v2q-item-image {
    width:100%; 
    height: 180px; 
    margin-bottom: 15px;
}
.v2q-item-title {
    font-size: 16px; 
    font-weight: bolder;
    min-height: 45px;
    max-height: 45px;
}
.overflow {
    overflow: hidden;
}
.ellipsis { text-overflow: ellipsis; }
/*TRANG DANH SACH SAN PHAM STYLES*/

.page-item.disabled .page-link, .page-item.disabled .page-link:focus, .page-item.disabled .page-link:hover {
    color: #FFECB3;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #FFECB3;
}

.page-link {
    font-size: 13px;
    padding: 8px 14px;
    color: #FDA30E;
    background-color: #fff;
    border: 1px solid #FDA30E;
}

.page-link:focus, .page-link:hover {
    color: #FDA30E;
    background-color: #fff8e1;
    border-color: #FDA30E;
    text-decoration: none;
}

.page-item.active .page-link, .page-item.active .page-link:focus, .page-item.active .page-link:hover {
    color: #fff;
    background-color: #FDA30E;
    border-color: #FDA30E;
}