/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 13, 2017, 10:34:07 PM
    Author     : Winson Mac
*/

a {
    color: #FDA30E;
}

a:hover {
    color: #e08b00;
}

.input-icon.icon-color-primary .icon-addon {
    color: #FDA30E;
}

.ks-header {  
    height: 50px;
    background-color: #FDA30E;
}

.ks-page>.ks-header>.v2q-logo {
    color: #fff;
    line-height: 50px;
    font-family: 'Cabin', sans-serif;    
    margin-left: 60px;
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
}

.ks-page>.ks-header>.v2q-logo > span {
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: 36px;
}

.ks-page>.ks-body {
    display: -webkit-box;
    -js-display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
}

.v2q-slogan {
    padding: 20px;
    font-size: 28px; 
    color: #FDA30E;
    font-family: 'Cabin', sans-serif;
}

img {
    width: 80%; 
    margin-top: 30px;
}

.v2q-login {
    padding: 30px;
}

.v2q-logo {
    font-family: 'Libre Barcode 39 Text', cursive;
    color: #FDA30E;
    font-size: 60px;
    margin-bottom: 30px;
    text-align: center;
}

.v2q-panel {
    margin: 0 auto;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: #fff;
}

.btn-login,.btn-signup {    
    width: 100%;
    margin-top: 20px;
    background-color: #FDA30E;
    border: #FDA30E solid 2px;
    border-radius: 20px;
}

.btn-signup:hover {   
    background-color: #e08b00;
    border: #FDA30E solid 2px;
    border-radius: 20px;
}
.btn-login:hover {   
    background-color: #e08b00;
    border: #FDA30E solid 2px;
    border-radius: 20px;
}