/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 7, 2017, 2:50:23 PM
    Author     : Winson Mac
*/
.tab-index h3 {
    color: #000;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.tab-index h3 span {
    color: #FDA30E;
}
